.light-theme {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
    --background-color: #F9F8F8;
    --navbar-color: #272838;
  }
.dark-theme {
  --color-primary: #17ed90;
  --color-secondary: #243133;
  --color-accent: #12cdea;
  --font-color: #ffffff;
  --background-color: #17ed90;
  --navbar-color: #272838; 
}
