

@media screen and (min-width: 900px) {
  .content {
    position: absolute;
    top: 0px;
    left: $sidebarWidth;
    width: 100% - $sidebarWidth;
    margin: 0px;
    min-height: 100%;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;

    background: var(--background-color);

    .section-body {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;

      .section-top {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .section-header {
          font-size: 2em;
          font-weight: 200;
          color: #7E7F9A;
        }

        .section-sub-header {
          font-size: 1em;
          font-weight: lighter;
          color: #7E7F9A;
        }
      }
    }
  }

  .navbar {
    position: fixed;
    overflow: scroll;
    left: 0px;
    top: 0px;
    height: 100%;
    margin: 0px;
    width: $sidebarWidth;
    background: var(--navbar-color);
    font-size: 1em;

    .toggle {
      display: none;
    }

    .header{
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      h1 {
        font-size: 2em;
        font-weight: lighter;
        color: $tileBackgroundColour;
      }
    }

    .links {
      margin-bottom: 0px;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0px;

      .break{
        width: 75%;
      }

      li {
        position: relative;
        text-align: center;

        a {
          line-height: 2em;
          font-size: 1em;
          text-decoration: none;
          letter-spacing: 0.2em;
          color: rgba(#FFF, 0.35);
          display: block;
          transition: all ease-out 300ms;
        }

        a.active {
          color: white;
        }

        a:not(.active)::after {
          opacity: 0.2;
          color: rgba(#FFF, 0.35);
        }

        a:not(.active):hover {
          color: rgba(#FFF, 0.75);
        }
      }
    }
  }
}
